body {

  background: rgb(245, 80, 80);
  background: linear-gradient(4deg, rgba(245, 80, 80, 1) 0%, rgba(113, 113, 212, 1) 53%, rgba(226, 226, 226, 1) 100%);
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.row-functions {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 5vh;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

p {
  font-size: 2vh;
}

h3{
  font-size: 3vh;
}

table{
  margin: 10vh 0;
  text-align: left;
  font-size: 3vh;
}

.call-button {
  background-color: blue;
  color: white;
  margin: 3vh 5vw;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 5%;
}

li{
  font-size: 2vh;
  text-align: left;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  padding: 5vw;
}